/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1f120d;
    font-family: Arial, sans-serif;
    color: #f8e7d7;
}

html,
body {
    overflow-x: hidden;
}

/* HEADER (same style as other pages) */
.header {
    width: 100%;
    background: #3e2723;
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #f8e7d7;
    display: flex;
    align-items: center;
    gap: 10px;
}


.navbar ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

.navbar ul li a {
    color: #f8e7d7;
    text-decoration: none;
    font-size: 18px;
}

.navbar ul li a.active,
.navbar ul li a:hover {
    color: #ffcc80;
}



/* ORDER PAGE */
.order-page {
    padding: 80px 40px;
    text-align: center;
}

.order-page h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #d4a574;
    text-shadow: 0 0 12px rgba(255, 210, 150, 0.3);
}

.cart-box {
    background: #3a2419;
    padding: 30px;
    border-radius: 15px;
    max-width: 700px;
    margin: auto;
    border: 1px solid rgba(212, 165, 116, 0.3);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

#cart-list li {
    background: #2c1b14;
    padding: 15px;
    margin-bottom: 12px;
    border-radius: 8px;
    color: #f3dbcc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Quantity Buttons */
.qty-btn {
    padding: 4px 10px;
    background: #d4a574;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 0 5px;
}

.qty {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0 5px;
}

/* Total Box */
.total-box {
    margin-top: 20px;
    font-size: 1.6rem;
    color: #d4a574;
}

/* Buttons */
.buttons {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    padding: 12px 25px;
    background: linear-gradient(45deg, #d4a574, #e8c8a2);
    border: none;
    border-radius: 25px;
    color: #3a2419;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(212, 165, 116, 0.7);
}

.checkout {
    background: linear-gradient(45deg, #ffcc80, #d4a574);
}